*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 15px;
}

body {
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
}

.polaroid {
  width: 90%;
  margin-top: 10vh;
  margin-bottom: 15vh;
  max-width: 70vh;
  max-height: 75vh;
  padding: 1vmin;
  border: 0.1rem rgb(233, 233, 233) solid;
  background-color: white;
  box-shadow: 0.2rem 0.2rem rgb(197, 196, 196);
  transform: rotate(-2deg);
  font-family: "Caveat", cursive;
  font-size: 3vmin;
  text-align: center;
}

.scaled {
  width: 100%;
}

.flex {
  display: flex;
  width: 95vw;
  _height: 100vh;
  height: 100%;
  margin: auto;
  padding: 1vw 1.5rem;
  justify-content: center;
  align-items: center;
  _background-color: red;
}

.circle1 {
  background-color: red;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  transition: 10s;
}

.circle2 {
  background-color: blue;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.rect {
  display: flex;
  align-items: center;
  justify-content: center;
}
